:root {
    --primary-color: #ffebf7;
    --secondary-color: #ff66c4;
    --main-font: "Playfair Display", serif;
    --font-other: "Poppins", sans-serif;
    --pink-git: url(/images/pink-github-icon.svg);
}
body {
    font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6
 {
    color: black;
    font-weight: bold;
}
.hero h1 {
    font-size: 66px;
    font-family: var(--main-font);
    font-weight: bold;
}
h2 {
    font-family: var(--main-font);
    font-size: 64px;
    font-weight: bolder;
    color: black;
}
p {
    font-family: var(--font-other);
    font-weight: normal;
    color: #272142;
    font-size: 16px;
    line-height: 30px;
}

.hero {
    background: var(--primary-color);
    text-align: center;
    padding: 80px 20px;

}

.hero p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.hero h2 {
    font-family: var(--font-other);
    line-height: 2;
    font-weight: normal;
    font-size: 16px;
}
.inline-content {
    position: relative;
     left: 60px;
}
.inline-content p {
    position: relative;
    right: 30px;
}
.btn-branding {
    background: var(--secondary-color);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 11px 30px;
    
    position: relative;
    top: 50px;
    right: 60px;
}

.btn-branding-outline {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;  
}
.btn-branding:hover {
    background: white;
    border-style: solid;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
}
.btn-branding-outline:hover {
    border-radius: 50%;
    background: var(--secondary-color);
    color: white;
}
.project-description {
    padding: 50px 30px;
}
footer.email-link {
text-decoration: none;
color: black;
font-size: 24px;
}

@media (max-width: 900px) {
    .hero h1 {
        font-size: 40px;
        line-height: 2;
    }
    .hero {
        padding: 7.5px 15px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
   .content-container {
        text-align: center;
       

    }
nav li {
        display: flex;
        justify-content: center;
    }
}
#black-woman {
    border-radius: 20px;
    
}
.content-container h1 {
    font-family: var(--main-font);
    font-size: 64px;
    line-height: 80px;
}
.content-container h2 {
    font-size: 18px;
    font-family: var(--other-font);
}
.content {
   margin: 30px; 
}
.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-family: var(--other-font);
    font-weight: bolder; 
}
.logo {
    max-width: 150px;
}
nav {
    padding: 20px 0
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}
nav a {
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
   
}
nav a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}
nav li.active a {
    color: var(--secondary-color);
}
.email-link {
    color: #272142;
}
.email-link:hover {
    text-decoration: none;
    color: var(--secondary-color);
}
.social-links {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.social-links img {
    max-width: 65px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 50%;
    background-color:var(--primary-color);
    margin-right: 20px  ;
    transition: all 150ms ease-in-out;
}
.social-links a img:hover {
    background: var(--secondary-color);
}
.contact-box {
    background: var(--primary-color);
    border-radius: 10px;
}
.contact-box h4 {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 48px;
    margin: 20px;
}
.contact-box p {
    margin-left: 40px;
}
footer {
    margin: 60px 0;
}
.workimg img{
    width: 490px;
    height: 420px;
    border-style: solid;
    border-color: var(--secondary-color);
    border-radius: 45px;
}
iframe {
    position: relative;
    left: 70px;
    height: 500px;
    width: 495px;
    border: 0;
}